<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex">
  <title>Delete account</title>
  <style>
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }

    #contenedor {
      text-align: center;
    }
  </style>
</head>
<body>

<div id="contenedor">
    <img src="/assets/delete.png" style="height: 200px;">
    <p>We do not collect personal information other than email (in case you decide to log in to the app).</p>
    <p>If you want to delete the email from our system you can do it from our app.</p>
    <p>If you have purchased the application, you will not be able to use the premium features of the application again (no more advertising) nor will you be able to receive a refund since the change is irreversible.</p>
</div>

</body>
</html>